.Form{
  margin: 10vh 7vw;
  background: white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

.Section{
  width: max-content;
  height: 2.5rem;
}
  .Main{
    margin-left: 4rem;
    margin-top: -0.5rem;
    border-bottom: 7px solid #221122;
  }
}
