.Form{
  margin: 10vh 7vw;
  background: white;
  width: 100vw;

.Section{
  width: max-content;
  height: 2.5rem;
}
  .Top{
    margin-left: 4rem;
    margin-top: -0.5rem;
  }
  .Main{
  margin-left: 4rem;
  }
  .Inquiry{
    margin-left: 4rem;
    margin-top: 2rem;
  }
  .Text{
   resize: none;
    border: 1px solid #888888;
    border-radius: 4px;
    margin-top: 5px;
  }
  label{
  margin-left: 4rem;
  border: 1px solid #888888;
  box-sizing: border-box;
  border-radius: 4px;
  width: 558px;
  height: 92px;
  }
  .Active{
    width: 558px;
  }
 .M{
   margin-left: -2rem;
 }
  .Month{
    width: 123px;
    height: 34px;
    border: 1px solid #888888;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 5px;
  }
}
